/* main.css */
body {
    font-family: Arial, sans-serif;
    background-color: #9BABB8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    transform: translateY(-100%);
    animation: slideInFromTop 1s ease-out forwards;
    display: flex; /* Use flexbox to center the form vertically */
    flex-direction: column; /* Align children elements in a column */
    align-items: center; /* Center children elements horizontally */
}

@keyframes slideInFromTop {
    to {
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 12px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.2s, background-color 0.2s;
}

.form-control:focus {
    border-color: #007bff;
    background-color: #fff;
    outline: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    transition: background-color 0.2s, color 0.2s;
}

.btn-secondary:hover {
    background-color: #007bff;
    color: #fff;
}
