{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Login{% endblock %}</title>
        <!-- get bootstrap -->
        
    </head>
    <body>
        
        <!-- navbar -->
        
        <!-- messages -->
        
        {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert" >
                {{ message }}
            </div>
        {% else %}
          <div class="alert alert-success" role="alert" >
            {{ message }}
          </div>
        {% endif %}
        {% endfor %}
            

        {% block main %}
        {% endblock %}
    </body>
</html>