
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}HLM{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'login/img/favicon.ico' %}" type="image/x-icon">
        {% block head %}


       {% endblock %}
    </head>
    <body>
        <!-- messages -->
        {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert" >
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert" >
            {{ message }}
            </div>
        {% endif %}
        {% endfor %}
        
            

        {% block main %}
        {% endblock %}
    </body>
</html>