{% extends "login/layout.html" %}
{% block head %}

{% endblock head %}

{% block main %}

<br>
<div class="spacing">
    <div class="form_spacing">
    <h2>Register</h2>
    </div>
    <form >
        {% csrf_token %}
        <br>
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Team name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Lead name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Member 1 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Member 2 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Member 3 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Member 4 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Lead's email">
        </div>
        <br>
        
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

</div>
{% endblock main %}