{% extends "login/layout.html" %}
{% load static %}
{% block head %}

{% endblock head %}

{% block main %}
<link rel="stylesheet" href="{% static 'login/register.css' %}">

<br>
<div class="box-container">
<div class="spacing">
    <div class="form_spacing">
    <h2>Register</h2>
    </div>
    <form action="{% url 'register' %}" method="post" class="hackathon_details">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="team_name" placeholder="Team name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name1" placeholder="Lead name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name2" placeholder="Member 1 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="name3" placeholder="Member 2 name">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Lead's email">
        </div>
        <br>

        <div class="form-group">
            <input class="form-control" type="text" name="password" placeholder="Password">
        </div>
        
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
</div>

</div>
{% endblock main %}