{% extends 'Hacker/layout.html' %}


{% block body %}
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Announcements</h1>

                {% for announcement in announcements %}
                    {{ announcement.title }} <br>
                    {{ announcement.description }} <br>
                    {{ announcement.date }} <br>
                {% endfor %}
            </div>
        </div>


    </div>




{% endblock body %}
