{% extends 'Hacker/layout.html' %}


{% block body %}
    

    <div class="container">

        <br> <br>
        <h1>Welcome back, {{hacker.team_name}}!</h1>
        <br>
        <div class="row">
            <div class="col-md-6">

                <h2>Your Team</h2>
                <ul>
                    <li> <strong>Team Lead:</strong> {{hacker.lead_name}}</li>
                    <li> <strong>Team Email:</strong> {{hacker.lead_email}}</li>
                    <li> <strong>Member 1:</strong> {{hacker.member1_name}}</li>
                    <li> <strong>Member 2:</strong> {{hacker.member2_name}}</li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h2>Hackathon Details</h2>

                <ul>
                    <li> <strong>Hackathon Name:</strong> {{hackathon.name}}</li>
                    <li> <strong>Start Date:</strong> {{hackathon.start_date}}</li>
                    <li> <strong>End Date:</strong> {{hackathon.end_date}}</li>
                    <li> <strong>Location:</strong> {{hackathon.location}}</li>
                    <li> <strong>Description:</strong> {{hackathon.description}}</li>
                    <li> <strong>Theme:</strong> {{hackathon.theme}}</li>
                    <li> <strong>Prizes:</strong> {{hackathon.prizes}}</li>
                    <li> <strong>Eligibility:</strong> {{hackathon.eligibility}}</li>


                </ul>


            </div>

            


    </div>




{% endblock body %}
