{% extends 'Hacker/layout.html' %}


{% block body %}
    

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br> <br>
                <h1 class="text-center">Sponsors</h1>
                <br> <br>
                {% for sponsor in sponsors %}
                    {{ sponsor.name }} <br>
                    Website: <a href="{{ sponsor.website }}">{{ sponsor.website }}</a><br>
                    {{ sponsor.description }} <br>
                    <br> <br>
                {% endfor %}
            </div>
        </div>


    </div>




{% endblock body %}
